@charset "utf-8";
/* ===================================================================
CSS information

 file name  :print.css
 author     :Clearcode Publishing (admin)
 style info :印刷用
=================================================================== */
@media print {
/*========================================index
/* +1 印刷専用の表現1
/* +2 base set
/* +3 通常レイアウトの調整
/* +4 印刷専用の表現2
========================================index*/

/* ===========================================
	+1 印刷専用の表現1
=========================================== */
/* Operaなど一部のブラウザで対応 */
@page { margin:2.5cm; }

/* ===========================================
	+2 base set
=========================================== */
/* IE6やIE7で印刷時にグローバルナビゲーションが崩れたりしやすいのを防止 */
html,body { _zoom:0.85;}

/* ===========================================
	+3 通常レイアウトの調整
=========================================== */
/* 色の指定 */
blockquote {
		background-color: #aaa;
    	margin: 1mm 3mm;
		padding: 2mm;
		border: 3px double #000;

}

/* フォントの指定 */
h1,h2,h3,h4,h5,h6 {
		font-family: "ＭＳ Ｐゴシック", "ヒラギノ角ゴPro W3", Osaka, sansserif;
    	font-weight: bold;
}

p {
		font-family: "ＭＳ Ｐ明朝", 細明朝体, "Ryumin Light-KL", "ヒラギノ明朝Pro W3", serif;
    	margin: 12pt 0;
    	line-height: 1.5;


}
/* ===========================================
	+4 印刷専用の表現2
=========================================== */
/* 要素前の改行制御 */
.section-lv2 { 
        page-break-inside: avoid;
        page-break-before:avoid;
 } 

/* 不要な情報を非表示にする */
#sub,
form {
		display: none;
}

/* 
/* リンク先のURIについて */
a[href]:after {
		content: " (" attr(href)") ";
}

a[href^="http://www.example.com/"]:after {
		content: "";
}

a[href^="http://"]:after {
		content: " (" attr(href)") "
}

*/

