@charset "utf-8";

/* ===================================================================
CSS information

 file name  :style.css
 author     :Clearcode Publishing (admin)
 style info :コンテンツエリア関係 他
 
このスタイルシートの構成
 基本設定、レイアウト、横幅設定など
 汎用class
 #page
  #contents
   #main
    #header
    #sub
    #footer
   　各ページ...html
=================================================================== */


/*----------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------*/
body,html {
    height: 100%;   /*高さを１００％に*/
}

a:link {
    color: #;
    text-decoration: none;
}

a:visited {
    color: #;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.push:active {
    position: relative;/*--ポチっとボタン風に--*/
    top: 1px;/*--ポチっとボタン風に--*/
}

/*
body,html {
		height: 100%;
}

a:link {
		color: #;
		text-decoration: none;
}

a:visited {
		color: #;
		text-decoration: none;
}

a:hover {
		text-decoration: none;
}

a.push:active {
        position: relative;
 		top: 1px;
}
*/


/*----------------------------------------------------
	共通ページ
----------------------------------------------------*/
h2 {
    border-bottom:#dbdbdb 1px solid;
    padding-bottom:7px;
    margin-bottom: 8px;
}

h2:first-child {

}

h3 {
    color:#3498DB;
}

/* カスタムhr */
hr.style-dotted-line {
	display: block;
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}

hr.style-simple {
	display: block;
	border: 0;
	border-bottom: 1px solid #e4e3e4;
	background: #ccc;
}

/* ボタン風リンク */
a.button-rect {
	background-color: #fff;
	border: 1px solid #3498DB;
	color:#3498DB;
	padding: 1px 8px;
	border-radius: 5px;
	cursor: pointer;
}

/*
#emboss { 

}

h2 {
	border-bottom:#dbdbdb 1px solid;
	padding-bottom:7px;
	margin-bottom: 8px;
}

h2:first-child {

}

h3 {
	 color:#fb7e04;
}
*/


/*----------------------------------------------------
	汎用 class
----------------------------------------------------*/
/*
.imgR {
		float: right;
        display: inline;
		margin: 0 0 10px 10px;
}

.imgL {
		float: left;
        display: inline;
		margin: 0px 15px 0 0;
}

.FL-box {
	_zoom: 1;
	overflow:hidden;
}

.FL-box p,
.FL-box div {
	overflow:hidden;	
	_zoom: 1;
}

.section {
	margin: 25px 0 33px 0;
}

.sec-dec dt {
	color:#fb7e04;
	margin-bottom:3px;
	font-weight: bold;
}

.sec-dec dd {
	font-size:12px;
	margin-bottom:14px;
}

.normal-List {
	margin-top:5px;
	text-indent:0.3em;
}

.normal-List li {
	list-style: disc inside;
}

.txtC {
		text-align: center;
}

.up {
		margin-top: 0.8em;
}

.up2 {
		margin-top: 2em;
}

.indent {
		text-indent: 1em;
}

.-indent {
		text-indent: -1em;
		padding-left: 1em;
}

.bold {
	font-weight:bold;
}

.redTxt {
	color:red;
}

.blue-txt {
	color:#05296a;
}

.orangeTxt {
		color: #fb7e04;
}

.greenTxt {
		color: #87be0e;
}

.clear {
	clear:both;
}

ins{
  text-decoration:none;
}


a:hover .opacity {
    	filter:alpha(opacity=70);
    	-ms-filter: "alpha(opacity=70)";
    	-moz-opacity:0.7;
    	-khtml-opacity: 0.7;
    	opacity: 0.7;
    } 

a.zoom:hover {
		cursor: url(zoomin.cur), pointer;
}


#hogehoge a:visited:after {
    content:"　\2713"; 
} 
*/


/*******************************************/
/* 外部リンクは別窓用の指定 */
.externalIcon {
		padding-left: 5px;
		vertical-align: middle;
}

/* clearfix */
.clearfix:after { 
    	visibility: hidden;  
    	display: block;  
    	font-size: 0;  
    	content: " ";  
    	clear: both;  
    	height: 0;  
} 

/* IE6 */ 
* html .clearfix { 
		zoom: 1;
	} 
	
/* IE7 */ 	
*:first-child+html .clearfix { 
		zoom: 1; 
	} 

/*----------------------------------------------------
	#page
----------------------------------------------------*/
/*
body > #page {
	height: auto;
}

#S-D {
	height:20px;
	width:954px;
	margin:0 auto;
	text-align:center;
}

#S-D  ul {
	padding-left:20px;
}

#S-D  ul li {
	float:left;
	margin: 0 3px 0 3px;
}

*html #S-D ul li {
	display: inline;
}

#S-D ul li strong {
}

#S-D ul li:after {
	content: " |";
}
	
#S-D ul li.ft-1:before {
	content: "| ";
}


#S-D li.sk-1:before {
	content: "| ";
}


#page {
	width: 954px;
	margin: 0 auto;
	text-align: left;
	background-color: #ffffff;
	border-top: #fb7e04 8px solid;
	height: 100% ;
 	min-height: 100%;
}
*/

/*----------------------------------------------------
 ページ構成 基本クラス
----------------------------------------------------*/

.wrapper {
    width: 970px;
    margin: 0px auto;
    text-align: center;
    background-color: #ffffff;
}

.header {
    width: 100%;
}

.page {
    width: 100%;
    margin: 10px auto 40px;
    text-align: left;
    height: 100% ;
    min-height: 100%;
    background-color: #fff;
}

.main {
    display: block;
    float: left;
    width: 720px;
/*    width: 100%;*/
    background-color: #fff;
}

.sidemenu {
    float: right;
    width: 250px;
    background-color: #fff;
}

.footer {
    position: relative;
    padding: 10px 0 15px 0;
    width: 100%;
    height: 120px;
    clear: both;
    font-size: 1.0rem;
    line-height: 1.4;
    background-color: #e1dfe0;
    text-align:center;
}


/* -----------------------------------------------------------
	#header
		ヘッダー
----------------------------------------------------------- */
/*
#header {
	position:relative;
	zoom:1;
}

h1 {
	height: 69px;
	width: 286px;
	margin:20px 0 0 69px;
}

#hd-address {
	width: 240px;
	font-size:11px;
	line-height:1.4;
	position: absolute;
	left: 678px;
	top:33px;
}



#hd-address p {
	margin-bottom: 5px;
}

#nav {
	width:100%;
	background-color:#fb7e04;
	margin-top:35px;
}

#nav ul {
        line-height: normal;// --IE7対策--
		zoom:1;
		padding: 15px 0 15px 0;
		width:900px;
		margin-left:69px;
}

#nav ul li {
	float:left;
	display:inline;
	margin-right: 75px;
}

#nav ul li#nav-exam {
	margin-right: 40px;
}

#nav ul li a:hover {
	background-color: transparent;// --IE6対策--
}
*/

/*----------------------------------------------------
 ヘッダー
----------------------------------------------------*/

/* キーワード */
.header .keywords {
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-bottom: #FB7E04 8px solid;
}

.header .keywords .word {
    list-style: none;
    display: inline;
    margin: 0 3px 0 3px;
}

.header .keywords .word:after {
	content: " |";
}

/* ロゴ */
.header-main {
    height: 100px;
    background: #ffffff;
    padding: 10px 15px;
}

.header-main .logo {
    float:left;
    width: 440px;
    height: 84px;
    background: url('../img/common/logo.jpg') no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.header-main .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.header-main .basic-info {
    display: inline-block;
    float:right;
    width: 220px;
}

.header-main .address {
    margin-bottom: 5px;
    font-size:1.4rem;
    line-height:1.4em;
    text-align: left;
}

.header-main .tel {
    font-size:1.0rem;
    margin-bottom: 5px;
    text-align: left;
}

.header-main .telno {
    padding: 8px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
/*    background-color: #e67e22;*/
    background-color: #FB7E04;
}


/* ナビゲーション */
.global-nav {
    background-color: #FB7E04;
    text-align: center;
}

.global-nav .nav-item {
    display: inline-block;
    margin: 15px 0px 12px 15px;
    width: 140px;
    height: 35px;
    font-size:1.5rem;
    font-weight: bold;
    line-height:2.2;
    letter-spacing: 4px;
    background: url('../img/common/menu-logo.png') no-repeat;
}

.global-nav .active {
    background: url('../img/common/menu-logo_active.png') no-repeat;
}

.global-nav .nav-item a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: 0.2s;
}

.global-nav .nav-item a:visited {
    color: #fff;
}

.global-nav .nav-item a:hover {
    background: url('../img/common/menu-logo_active.png') no-repeat;
}

.slideshow {
    margin: 0 auto;
}

.mainphoto {
    margin: 0 auto 20px;
}

.change-fontsize {
    width: 100%;
    margin: 0 -25px;
    text-align: right;
}

.change-fontsize .buttons {
    list-style: none;
    float: right;
}

.change-fontsize .description {
    padding: 10px 10px;
    text-align: right;
    float: left;
    font-size: 1.8rem;
}

.change-fontsize .button-list {
    float: left;
}

.change-fontsize .button {
    display: inline-block;
    background-color: #3498db;
}

.change-fontsize .button a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: bold;
    color: #fff;
}


/*----------------------------------------------------
	#contents
----------------------------------------------------*/
/*
#contents {
		padding:0 10px 100px 60px;
		margin-top: 18px;
}

#contents .pageTop {
	clear: both;
	text-align: right;
}
*/

/*----------------------------------------------------
 ページコンテンツ
----------------------------------------------------*/

.main .subtitle {
    font-size: 2.0rem;
    line-height: 1.4;
    font-weight: bold;
    color: #999900;
}

.main .section {
    margin: 30px 25px 80px;
}

/* バナー */
.sidemenu .banners .banner-list {
    margin: 30px 25px 30px 0px;
}

.sidemenu .banners .banner-list .banner-item {
    display: block;
    padding: 6px 5px;
    font-size: 1.3rem;
    line-height: 1.2;
    text-align: center;
}

.sidemenu .banners .banner-list .banner-item .image {
    border: 1px solid #ccc;
}


/*----------------------------------------------------
	#main
		メイン
----------------------------------------------------*/
/*
#main {
		width: 625px;
		margin-right: 50px;
		float: left;
		display: inline;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
}
*/


/* -----------------------------------------------------------
	#aside
		サイドバー、サブ
----------------------------------------------------------- */
/*
#aside {
        float: left;
        display: inline;
		text-align:center;
		margin-top:42px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
}

.sideBanner a:hover img {
	margin: -2px;
	border: solid 2px orange;
}

* html .sideBanner a:hover {
	zoom: 1;
}
* html .sideBanner a:hover img {
	// for BackCompat mode
		margin-left: -6px;
		margin-right: -6px;
	over here //
	position: relative;
}
*/

/* -----------------------------------------------------------
	#footer
		フッター
----------------------------------------------------------- */
/*
#footer { // フッター下部固定
	position: relative;
	margin-top: -100px; // フッターの高さ
	padding-top:40px;
	padding-bottom: 15px;
	height: 150px;
	clear: both;
	font-size:10px;
	line-height: 1.4;
	background-color: #e1dfe0;
	text-align:center;
}

#foot-logo {
	margin-bottom: 15px;
}

#footer ul {
	 	color: #fb7e04;
		font-weight:bold;
		width: 355px;
		margin:10px auto 0 auto;
}

*:first-child+html ul {
        line-height: normal;// --IE7対策-- //
}

#footer ul li {
	float:left;
	display: inline;
	padding: 0 4px 0 4px;
	border-right: 1px solid #fb7e04;
}

#footer ul li:first-child {
	border-left: 1px solid #fb7e04;
}
*/

/*----------------------------------------------------
 フッター
----------------------------------------------------*/

/* ロゴ */
.footer .footer-logo {
    margin: 0 auto;
    width: 300px;
    height: 70px;
    background: url('../img/common/footer-logo.png') no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.footer .footer-logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.footer .footer-info {
    margin: 10px auto;
    line-height: 1.8;
}

/* キーワード */
.footer .keywords {
    text-align: center;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 1.1rem;
}

.footer .keywords .word {
    list-style: none;
    display: inline;
    margin: 0 3px 0 3px;
    color: #FB7E04;
    font-weight: bold;
}

.footer .keywords .word:after {
	content: " |";
}


/*----------------------------------------------------
 コンテンツ
----------------------------------------------------*/

/*
===== 0: common =====
*/
/*
.subtitle_top {
	font-size: 140%;
	font-weight: bold;
	color: #999900;
}

.subtitle {
	font-size: 140%;
	font-weight: bold;
	color: #fb7e04;
}
*/

/*
===== 1: index.html =====
*/
/*
#top #main {
	padding-bottom:50px;
}

.newicon {
	color:#F00;
	margin-left:5px;
	font-size:11px;
}

.section h2 {
	margin-bottom: 14px;
}

#recent-list {
	width: 600px;
	height: 100px;
	overflow: auto;
}

#recent-list p {
	margin-bottom: 5px;
}


#recent-list p span a:link {
	color:#040c80;
}

.sec-dec {
	overflow:hidden;
}

#face {
	margin-bottom:5px;
}

.m-L-i {
	margin-left:1em;
}

#name-matsumoto {
	margin-left:333px;
	line-height:0.5;
}

.prof-ct {
	margin-top:30px;
}

#history {
	margin-right: 22px;
}

#phil-motto {
	margin-top:18px;
}

#phil-large {
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho" serif;
	font-size: 160%;
	font-weight: bold;
	color: #ff0000;
	margin-bottom: 10px;
}

#phil-middle {
	font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "MS PMincho" serif;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 10px;
}

#phil-normal {
}

#staff ul {
	margin-top:-20px;
	margin-left: 20px;
	line-height:1.8;// IE対策
}

#staff ul li {
	list-style-type: disc;
	position:relative;
	_zoom:1;
}

.staff-number {
	position:absolute;
	top:0;
	left: 100px;
}
*/

/*
===== 1: index.html =====
*/

/* News */
.news-list {
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none;
}

.news-list .news-item .news-date {
    color: #8e8e1b;
}

.news-list .news-item, .news-list .news-item a {
    display: block;
    padding: 4px 15px;
    font-size: 1.4rem;
    margin-left: 4rem;
    text-indent: -9.5rem;
    line-height: 1.6rem;
    color: #4d4d4d;
}

.news-list .news-item a:hover {
    background-color: #fafafa;
}

/* Relocate */
.relocate-photo .image {
    width: 680px;
    padding: 10px 0;
}

.relocate-description {
    padding: 0 50px;
    font-size: 2.0rem;
    line-height: 2.0;
    text-align: center;
}


/* Doctor */
.doctor-info {
    padding: 10px;
}

.doctor-info .doctor-photo {
    position: relative;
    display: block;
    float: left;
    width: 210px;
    margin-bottom: 30px;
    padding: 200px 15px 0;
    /* 正方形の場合 padding: 230px 15px 0;*/
}

.doctor-info .doctor-photo .title {
    margin-top: 30px;
    text-align: center;
    color: #145d8e;
    font-size: 1.6rem;
    line-height: 1.6;
}

.doctor-info .doctor-photo .image {
	margin-left: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
/*    border: 1px solid #ccc;
    border-radius: 10px;*/
}

.doctor-career {
    float: left;
    margin-left: 40px;
}

.doctor-career .career-title {
    display: block;
    margin-bottom: 10px;
    padding: 10px 5px;
    font-size: 1.6rem;
    color: #FB7E04;
    border: 0;
    border-bottom: 1px dashed #ccc;
}

.doctor-career .career-list {
    margin-bottom: 20px;
}

.doctor-career .career-list .career-date {
    margin-right: 7px;
}

.doctor-career .career-item {
    display: block;
    padding: 6px 5px;
    font-size: 1.6rem;
    line-height: 1.4;
}

/* Philosophy */
.philosophy {
}

.philosophy .philosophy-title {
    margin: 30px 0;
    font-weight: bold;
    font-size: 2.6rem;
    text-align: center;
    color: #e14d4c;
}

.philosophy .philosophy-caption {
    margin: 20px 0;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
}

.philosophy .philosophy-description {
    padding: 0 50px;
    font-size: 2.0rem;
    line-height: 2.0;
    text-align: center;
}

/* Time table */
.examination-schedule {
}

.timetable-description {
    margin: 20px 0 5px 0;
    font-size: 1.5rem;
    line-height: 1.6;
}

.timetable {
    width: 650px;
}

.halftable {
    width: 300px;
}

.timetable td {
    border: 1px solid #999;
}

.timetable .col-item {
    padding: 20px 5px;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    vertical-align: middle;
}

.timetable .col-title {
    padding: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #FB7E04;
}

.timetable .time {
    font-weight: bold;
    font-size: 1.4rem;
    color: #8e8e1b;
}

.timetable .caption {
    background: #FDFDB3;
}

.timetable .active {
    width: 60px;
    font-size: 2.4rem;
/*    color: #DB9634;*/
    color: #FB7E04;
}

.timetable .inactive {
    width: 60px;
    font-size: 2.2rem;
    color: #666;
}

.examination-schedule .notifications {
    padding: 10px 20px;
    font-size: 1.6rem;
    line-height: 1.4;
}

/* Access */
.access {
}

.access .access-description {
    margin: 20px 0;
    font-size: 1.5rem;
    line-height: 1.6;
}

.access .link-map {
    display: inline-block;
    margin: 15px 0;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: #3498db;
    border-radius: 5px;
}

.access .link-map a {
    color: #fff;
}

.access .map-img {
    margin: 36px 0;
}


/*
===== 2: recruit.html =====
*/
/*
#inner-caption {
	font-size: 120%;
	line-height: 2em;
}

#breadcrumbs {
	margin-top:20px;
}

#breadcrumbs a:link {
	color: #666666;
	text-decoration: underline;
}

#breadcrumbs a:visited {

}

#breadcrumbs a:hover {
	text-decoration: none;
}


.rec-t {
    margin: 26px 0 40px 0px;
	line-height: 1.6em;
	border: 1px #e4e3e4 solid;
}

.rec-t caption {
	font-size:15px;
	margin-bottom:8px;
}

.rec-t tr {
	border: 1px #e4e3e4 solid;
}

.rec-t th {
    color:white;
	text-align:center;
	font-weight: bold;
	background:orange;
}

.rec-t th,
.rec-t td{
    padding:17px;
    font-size:15px;
}

.rec-t td {
	padding-left: 37px;
	line-height: 1.8em;
}

.even{
    background:#F8F8F8;
}
*/


/*
===== 2: examination.html =====
*/
.subject-table {
    width: 100%;
}

.subject-table td {
    border-bottom: 1px solid #ccc;
}

.subject-table .col-title {
    padding: 20px 0;
    width: 50%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8;
    color: #db9634;
}

.subject-table .col-item {
    padding: 20px 0 20px 10px;
    text-align: left;
    font-size: 1.4rem;
    vertical-align: middle;
    line-height: 1.8;
}

.inspection-table {
    width: 650px;
}

.inspection-table td {
    border-bottom: 1px solid #ccc;
}

.inspection-table .col-photo {
    padding: 20px 0;
    width: 130px;
    text-align: center;
    vertical-align: middle;
}

.inspection-table .col-title {
    padding: 20px 0 5px 15px;
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.6;
    vertical-align: middle;
    color: #db9634;
    border-bottom: none;
}

.inspection-table .col-item {
    padding: 10px 0 15px 15px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8;
}


/*
===== 3: equipment.html =====
*/

.equipment-table {
    width: 700px;
}

.equipment-table td {
    border-bottom: 1px solid #ccc;
}

.equipment-table .col-photo {
    padding: 20px 0;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}

.equipment-table .col-title {
    padding: 20px 0 5px 15px;
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.6;
    vertical-align: middle;
    color: #db9634;
    border-bottom: none;
}

.equipment-table .col-item {
    padding: 10px 0 15px 15px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8;
}

.equipments .equip-title {
    margin: 15px 0;
    font-weight: bold;
    font-size: 2.0rem;
/*    text-align: center;*/
    color: #e14d4c;
}

.equipments .equip-caption {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.8rem;
/*    text-align: center;*/
}

.equipments .equip-description {
    padding: 0 0 10px 0;
    font-size: 1.4rem;
    line-height: 1.6;
/*    text-align: center;*/
}

.equipments .equip-img {
    margin: 25px 0;
    width: 800px;
    text-align: center;
    vertical-align: middle;
}


/*
===== 4: access.html =====
*/

/* access -> see index.html */

/* Address */
.address .address-info {
    font-size: 1.6rem;
    line-height: 1.8;
}

.access-by .access-by-description {
    font-size: 1.6rem;
    line-height: 1.8;
}


/*
===== 5: link.html =====
*/

.link-box {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    height: 185px;
    margin: 10px 13px 30px;
    padding: 270px 10px 0;
    box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
    transition: opacity 0.15s;
}

.link-box:hover {
  opacity: 0.6;
}
/* 奇数・偶数 */
.link-box:nth-of-type(odd) {
  float: left;
}

.link-box:nth-of-type(even) {
  float: right;
}

/* 3の倍数
.link-box:nth-child(3n) {
    float: right;
}
*/

.link-box .title {
    margin-top: 30px;
    color: #db9634;
    font-size: 1.6rem;
    line-height: 1.6;
}

.link-box .description {
  margin-top: 5px;
  color: #333;
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 1.6;
}

.link-box .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/*
===== 6: staffs.html =====
*/

.staffs .division {
    display: block;
    margin-bottom: 10px;
    padding: 10px 5px;
    font-size: 1.6rem;
    color: #FB7E04;
    border: 0;
    border-bottom: 1px dashed #ccc;
}

.staffs-table {
    width: 700px;
    margin: 0 0 40px 0;
}

.staffs-table td {
    border-bottom: 1px solid #ccc;
}

.staffs-table .col-photo {
    padding: 20px 0;
    width: 200px;
    text-align: center;
    vertical-align: middle;
}

.staffs-table .col-title {
    padding: 20px 0 5px 15px;
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.6;
    vertical-align: middle;
    color: #db9634;
    border-bottom: none;
}

.staffs-table .col-item {
    padding: 10px 0 15px 15px;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.8;
}

.staffs-table .col-message {
    font-size: 1.4rem;
    font-weight: bold;
    color: #db9634;
}


/*
===== 7: info.html=====
*/

.info-detail {
}

.info-detail .info-description {
    margin: 10px 0 30px 0;
    font-size: 1.5rem;
    line-height: 1.6;
}


/*
===== 8: daycare.html=====
*/

.daycare {
}

.daycare .daycare-description {
    margin: 15px 0;
    font-size: 1.5rem;
    line-height: 1.6;
}

.daycare .daycare-caption {
    display: block;
    margin-bottom: 10px;
    padding: 5px 0px;
    font-size: 1.6rem;
    color: #FB7E04;
    border: 0;
    border-bottom: 1px dashed #ccc;
}

.daycare-photo .image {
    width: 680px;
    padding: 10px 0;
}

.daycare .daycare-info {
    font-size: 1.6rem;
    line-height: 1.8;
}

.daycare .daycare-item {
    padding: 15px;
    border-radius: 10px;
    background: #FB7E04;
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
}

.daycare .daycare-arrow {
    margin: 20px 40px;
    color: #FB7E04;
    font-size: 3.4rem;
    font-weight: bold;
    text-align: center;
}

.daycare .daycare-item-description {
    margin: 5px 0;
    font-size: 1.4rem;
    line-height: 1.6;
}


/* Service table */
.service {
    width: 650px;
}

.service-description {
    margin: 20px 0 5px 0;
    font-size: 1.5rem;
    line-height: 1.6;
}

.service td {
    border: 1px solid #999;
}

.service .col-item {
    padding: 20px 5px;
    font-size: 1.2rem;
    line-height: 1.8;
/*    text-align: center; */
    vertical-align: middle;
}

.service .col-title {
    padding: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #FB7E04;
}

/* Price table */
.pricetable {
    width: 650px;
}

.pricetable .col-title {
    padding: 5px;
    font-weight: bold;
    color: #8e8e1b;
    background-color: #FDFDB3;
}

.pricetable .row-title {
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    background-color: #FB7E04;
    vertical-align: middle;
}

.pricetable td {
    border: 1px solid #999;
}

.pricetable .col-item {
    padding: 20px 5px;
    font-size: 1.2rem;
    line-height: 1.8;
/*    text-align: center; */
    vertical-align: middle;
}


/* Point table */
.pointtable {
    width: 650px;
}

.pointtable .col-title {
    padding: 5px;
    font-weight: bold;
    color: #8e8e1b;
    background-color: #FDFDB3;
    width: 25%;
}

.pointtable .row-title {
    padding: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
    background-color: #FB7E04;
    vertical-align: middle;
}

.pointtable td {
    border: 1px solid #999;
}

.pointtable .col-item {
    padding: 20px 5px;
    font-size: 1.2rem;
    line-height: 1.8;
/*    text-align: center; */
    vertical-align: middle;
}

.pointtable .col-unit {
    width: 15%;
}

.pointtable .col-order {
    width: 25%;
}



/*
===== 5: examination.html=====
*/
/*
#examination h2 {
	margin-bottom:14px;
}

.subject li {
	list-style-type: square inside;
	margin: 0 0 8px 0;
}

#examine .FL-box {
	margin-bottom:15px;
}
*/

/*
===== 6: equipment.html=====
*/
/*
#equip-List li {
	padding: 20px 0 30px 0;
	border-bottom: 1px dotted #dbdbdb;
}
*/


/*
===== 7: access.html=====
*/
/*
#access .section,
#examination .section
{
	margin-top:50px;
}

#access .section:first-child,
#examination .section:first-child {
	margin-top:30px;
}


.mapImg {
	margin-top: 36px;
}

#canvas {
	margin-top:50px;
	width:432px;
	height:360px;
}
*/


/*
===== 8: link.html=====
*/
/*
#link h3 a {
	color:#fb7e04;
}
	
.link-thumb a:hover img {
	margin: -1px;
	border: solid 1px #9af;
}

* html .link-thumb a:hover {
	zoom: 1;
}
* html .link-thumb a:hover img {
	// for BackCompat mode
		margin-left: -6px;
		margin-right: -6px;
	over here //
	position: relative;
}
*/

/*
===== 9: info.html=====
*/
/*
#info #main {
	padding-bottom:60px;
}

#info h2 {
	margin-top:32px;
	padding-bottom:25px;
	border-bottom: #666 1px dotted;
	width:590px;
}

#info .new-title {
	color:#fb7e04;
	font-size:14px;
	font-weight:bold;
	padding-bottom:10px;
}

#info dl {
	width:590px;
}

#info dt {
	margin-top: 24px;
	
}

#info dd {
	padding-bottom: 30px;
	border-bottom: #666 1px dotted;
	line-height:1.92;
}

#info dd p {
	margin-bottom:6px;
}
*/

/*
===== 10: staff.html=====
*/
/*
#staff-list li {
	padding: 20px 0 30px 0;
	border-bottom: 1px dotted #dbdbdb;
}
#staff-list li:last-child {
	padding: 20px 0 50px 0;
	border-bottom: none;
}
*/

/*
===== 11: zassi.html=====
*/
/*
#zassi {
	width: 625px;
	margin: 30px 50px 50px 0;
	float: left;
	display: inline;
}
#zassi dd {
	padding-top: 20px;
	padding-bottom: 0;
	border-bottom: none;
}
#zassi dl {
	padding-left: 20px;
}
#zassi .new-title {
	color:#fb7e04;
	font-size:140%;
	font-weight:bold;
	padding-bottom:10px;
}
#zassi .sub-title {
	color:#fb7e04;
	font-size:120%;
	font-weight:bold;
	text-decoration: underline;
}
*/

/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/
